.my-card {
    height: 457px;
    width: 420px;
    background-color: rgba(23, 23, 121, 0.212);;
  }

  .my-card img {
    padding-top: 1rem;
    padding-bottom: 1rem;
    height: 457px;
    width: 420px;
  }

.Icon {
     fill: #ffffff !important; 
     width: 50px !important;
     height: 50px !important;
     margin-right: 39px;
}
.card-actions{
  background-color: rgba(23, 23, 121, 0.212);;
  padding-left: 3rem;
  margin-left:0rem;
  padding-right: 0.1rem;
  align-items: center;
  margin-bottom: 0.4rem;
}

.description{
  font-size: 14px;
  font-weight: 900;
}

.price{
  font-size: 0.9rem;
  font: weight 900;
}